.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


.idea
*.iws
*.iml
*.ipr
*.tfstate*
out/
azureiac/.terraform
azureiac/backend_container/variables.tf
azureiac/frontend_container/variables.tf
!**/src/main/**/out/
!**/src/test/**/out/
*.ipynb_checkpoints

